@import url('https://fonts.googleapis.com/css?family=Dancing+Script|IBM+Plex+Serif|Pacifico&display=swap');

.App {
  text-align: center;
}

html {
  background-color: #000000;
}
body {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBtn {
  cursor: pointer;
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navBtn :active {
  border: none;
}

.topNav {
  background-color: #000000;
  width: 100vw;
  color: white;
  display: flex;
  padding: 0;
  position: sticky;
}

.logoPic {
  width: 40%;
  position: absolute;
  right: 4%;
  margin-top: 1%;
}

.mainPhoto {
  width: 100vw;
  margin-top: -150px;
}

.photoOne {
  max-height: 90vh;
  max-width: 50%;
}

.photoTwo {
  max-width: 50%;
}

.flexPhoto {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: space-between;
}

.mailTo {
  color: white;
}

.aboutInfo {
  padding: 5% 15%;
}

.photoInfo {
  width: 50%;
  padding: 10%;
  text-align: center;
}

.homePhotos {
  background-color: #fff;
  color: #000000;
}

.bottomLinks {
  background-color: #000000;
  color: white;
  height: 200px;
  bottom: 0;
  margin: -4px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0% 10%;
  padding: 3%;
}
